export interface {{classname}} {{#parent}}extends models.{{{parent}}} {{/parent}}{
{{#additionalPropertiesType}}
    [key: string]: {{{additionalPropertiesType}}}{{#hasVars}} | any{{/hasVars}};

{{/additionalPropertiesType}}
{{#vars}}
    {{#description}}
    /**
     * {{{description}}}
     */
    {{/description}}
    {{name}}{{^required}}?{{/required}}: {{#isEnum}}{{#isString}} keyof typeof {{classname}}.{{enumName}}{{/isString}}{{^isString}} Array<keyof typeof {{classname}}.{{enumName}}>{{/isString}}{{/isEnum}}{{^isEnum}}{{{datatype}}}{{/isEnum}};

{{/vars}}
}


{{#hasEnums}}
    {{#vars}}{{#isEnum}}
    interface {{enumName}}Shape {
        {{#allowableValues}}
            {{#enumVars}}
                readonly {{{name}}}: {{{value}}}{{^-last}},{{/-last}}
            {{/enumVars}}
        {{/allowableValues}}
    }
    {{/isEnum}}{{/vars}}
{{/hasEnums}}


{{#hasEnums}}
export class {{classname}} {
{{#vars}}{{#isEnum}}
    static {{enumName}}: {{enumName}}Shape = {
    {{#allowableValues}}
        {{#enumVars}}
            {{{name}}}: {{{value}}}{{^-last}},{{/-last}}
        {{/enumVars}}
    {{/allowableValues}}
    }
    {{/isEnum}}{{/vars}}
}{{/hasEnums}}